* {
	margin: 0 auto;
	padding: 0;
}

html{
	background-image: url('background.webp');
	background-size: 100%;
	background-attachment: fixed;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	font-weight: 300;
  padding-top: 30px;
}

h1 {
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	margin-bottom: 55px;
	margin-top: 30px;
	color: white;
}

main {
	background: white;
	display: flex;
	flex-direction: column;
	max-width: 550px;
}

/*INPUT BOX*/

#input-box {
	display: flex;
	align-content: stretch;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
}

#new-todo {
	outline: none;
	border-radius: none;
	border: none;
	padding: 6px;
	font-size: 24px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
	padding: 16px 16px 16px 6px;
}

#toggle-all {
	display: none;
}

#toggle-all + label {
	border-radius: 25%;
	padding: 2px 2px 0px 7px;
	margin-left: 1px;
}

#toggle-all:checked + label{
	background: rgb(201, 200, 199, 0.2);
}

label img {
	width: 1.5em;
}

/*LIST BOX*/

ul { /*affects todo-list and button-list*/
	width: 100%;
	background: white;
	box-sizing: border-box;
	list-style-type: none;
}

li {
	border-bottom: 1px solid #ededed;
	padding: 15px 15px 15px 10px;
}

.toggle-one {
	width: 20px;
	height: 20px;
}

li label {
	font-size: 24px;
	margin-left: 20px;
	color: #4d4d4d
}

#toggle-one:checked + label{
	text-decoration: line-through;
	color: #d9d9d9;
}

.destroy {
	float: right;
	border: none;
	background: none;
}

.destroy img {
	width: 15px;
}

.control-box {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font-size: 14px;
	padding: 10px;
}

.control-box {
	display: inline;
}

#filters {
	padding: 2px;
}
